<!DOCTYPE html>
<html>
  <head>
    <title>Welcome></title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <h1>Welcome to Our Forum</h1>
    <ul>
      <li><a href="/about">About Forum</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/add_post">Add Post</a></li>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/search_post">Search Post</a></li>
      <li><a href="/topics">Topics</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/users">Users</a></li>
    </ul>
  </body>
</html>
